.app {
  overflow: hidden;
  margin-top: 60px;
}

.fixed-sidebar {
  position: fixed;
}

.subnav {
  margin-left: 3vh;
}

a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

.bg-slateblue {
  background-color: slateblue !important;
}


.text-larger {

  font-size: 0.85rem;

}